{% extends 'layout.html' %}

{% block title %}{{ _('Not Found') }} - {{ _('Free Visitor Counter') }}{% endblock %}

{% block content %}
    <div class="error-container">
        <div class="error-content">
            <div class="error-icon">
                <i class="fas fa-search"></i>
            </div>
            <h1>{{ _('Website Not Found') }}</h1>
            <p>{{ _('We couldn\'t find any visitor data for the domain you entered.') }}</p>
            <p>{{ _('This could be because:') }}</p>
            <ul>
                <li>{{ _('The domain has not been registered with our service yet.') }}</li>
                <li>{{ _('You may have mistyped the domain name.') }}</li>
                <li>{{ _('The tracking script has not been installed on your website.') }}</li>
            </ul>
            <div class="error-actions">
                <a class="btn btn-primary" href="{{ url_for('login') }}">{{ _('Try Again') }}</a>
                <a class="btn btn-secondary" href="{{ url_for('api_docs') }}">{{ _('View API Docs') }}</a>
            </div>
        </div>
    </div>
{% endblock %}
